body {
    font-family:Arial, sans-serif;
}

#info {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    div{
        padding: 2vw;
        &:first-child{
            background: rgb(184, 182, 182);
        }
        &:last-child {background: rgb(226, 226, 226);}
    }
}
nav{
	display: flex;
	flex-direction: row;
    justify-content: center;
    padding: 2vw;
    select {
        background-color: #00d1b2;
        border-color: transparent;
        color: #fff;
        margin: 0;
    }
    button
    {
        background-color: #2366d1;
        border-color: transparent;
        color: #fff;
        padding: 0.6vw;
        display: inline-block;
        margin: 0 0 0 10px;
    }
}
